@font-face {
   font-family: 'UA Army Labels';
   font-display: swap;
   src: url('file:///C:/Users/POISON/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-05_171029/fonts/UA%20Army%20Labels/font.ttf');
}
